

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #212121;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-name {
    font-size: 26px;
    font-weight: bold;
    font-family: 'Allerta Stencil', sans-serif;
    color: #ff9800;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
  }
  
  .navbar-menu li {
    margin-left: 30px;
  }
  
  .navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: color 0.3s;
  }
  
  .navbar-menu a:hover {
    color: #ff9800;
  }

  * {
    scroll-behavior: smooth;
  }
  
  /* Add fade-in transition */
  .page-enter {
    opacity: 0;
    transform: translateY(10px);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }

  .navbar-name {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Keeps the text color same as surrounding elements */
    font-weight: bold; /* Optional: Makes it stand out */
    color: #ff9800;
  }
  
  .navbar-name:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
    color: #ffffff;
    
  }
  
  